.title, .btn{
    margin-top: 1rem;
}

.container{
    /* background-color: rgb(0, 0, 0); */
    background-color: white;
    color: #92c1ec;
}

.cust_btn{
    background-color: white;
    color: #000;
    padding: 14px 18px;
    margin: 12px 10px;
    border-radius:0.7rem;
    border-color:#000;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: right;
}

.cust_btn:hover{
    background-color: #000;
    color: #92c1ec;
}

.home{
    cursor: pointer;
}