<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-6 home" (click)="goHome()">
                <h2 class="title"><b>Test Contract</b></h2>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <button [ngClass]="activePage==3 ? 'active': ''" class="cust_btn" (click)="nft()"><i>NFTs</i></button>
                    </div>
                    <div class="col-4">
                        <button [ngClass]="activePage==2 ? 'active': ''" class="cust_btn" (click)="mint()"><i>Tokens</i></button>
                    </div>
                    <div class="col-4">
                        <button [ngClass]="activePage==1 ? 'active': ''" class="cust_btn" (click)="trasferisci()"><i>ETH</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>